html {
    background-color: #080A0D;
}

body {
    font-family: monospace;
    color: wheat;
}

.top {
    text-align: center;
    font-size: 15px;
    margin: 34px;
}

a {
    color: green;
}

a:hover {
    color: forestgreen;
}

header {
    text-align: center;
    margin-top: 10%;
}

.cards {
    background-color: #0B0D11;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

section {
    /* margin: 80px; */
    margin: 110px;
}

footer {
    text-align: center;
    margin: 48px;
}
