<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="logo"><a href="{{url_for('home')}}"> Pradeep K </a></div>
        <ul>
            <li> <a href="{{url_for('about')}}">Aboutme</a> </li>
        </ul>
    </nav>

    <header id="moreheader">
        <h2>More About me</h2>
    </header>

    <section>
        <h2>Coding</h2>
        <a href="https://github.com/hellopradeep69" target="_blank">
            <img id="pic" src="{{ url_for('static', filename='assest/20251217_02h36m37s_grim.png') }}" alt="pic">
        </a>
        <p id="aboutme">
            I was introduced to coding at 11th Class. The first program I learned was python.
            I tried to learn python for those two years . Later , After finishing all my schooling
            I decided to took Bachelor of Computer Science . I learned <br>C , C++ , Java ,
            Html , Javascript , Visual basic and Python .
        </p>
    </section>


    <footer>
        <div class="more">
            <h1>More Coming soon !</h1>
        </div>
    </footer>

    <script src="js/main.js"> </script>

</body>

</html>
